<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

  <variable name="logDirectory" value="logs/" />

  <targets>
	  <target xsi:type="File" name="fileTarget"
			  fileName="${logDirectory}/system.log"
			  layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString,StackTrace}"
			  createDirs="true" />

	  <target xsi:type="File" name="apiFileTarget"
			  fileName="${logDirectory}/apiLog.log"
			  layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString,StackTrace}"
			  createDirs="true" />

  </targets>

  <rules>
	  <logger name="*" minlevel="Info" writeTo="fileTarget" />
	  <logger name="CathayInterviewAPI.Middleware.ApiLoggingMiddleware" minlevel="Trace" writeTo="apiFileTarget" />
  </rules>
</nlog>
